/* line 1, ../sass/header.scss */
.header {
  height: 150px;
  background: url(../img/logo2.png) no-repeat;
  background-position: 20% 0;
  font-size: 10px;
}
/* line 6, ../sass/header.scss */
.header_img {
  margin-top: 83px;
}
/* line 9, ../sass/header.scss */
.header_asia {
  display: block;
  margin: 5px 0 0 83px;
  color: #fff;
}
/* line 14, ../sass/header.scss */
.header .menu {
  float: right;
  margin: -33px 17px 0 0;
}

/* line 19, ../sass/header.scss */
.figure {
  float: left;
  text-align: center;
}
/* line 22, ../sass/header.scss */
.figure_link {
  margin-right: 2px;
}

/* line 26, ../sass/header.scss */
.footer {
  clear: both;
}
/* line 28, ../sass/header.scss */
.footer_link {
  display: block;
  text-align: center;
  padding-top: 150px;
  color: #fff;
}
