.header{
	height: 150px;
	background:url(../img/logo2.png) no-repeat;
	background-position: 20% 0;
	font-size: 10px;
	&_img{
		margin-top: 83px;
	}
	&_asia{
		display: block;
		margin:5px 0 0 83px;
		color:#fff;
	}
.menu{
		float: right;
		margin: -33px 17px 0 0;
	}
}
.figure{
	float: left;
	text-align: center;
	&_link{
	margin-right: 2px
	}
}
.footer{
	clear: both;
	&_link{
		display: block;
		text-align: center;
		padding-top: 150px;
		color:#fff;
	}
}