/* line 1, ../sass/footer.scss */
.foote {
  font-size: 0;
  background-color: #e1e1e1;
  clear: both;
}
/* line 6, ../sass/footer.scss */
.foote_item {
  display: inline-block;
  line-height: 40px;
  font-size: 13px;
}
/* line 11, ../sass/footer.scss */
.foote_link {
  margin: 0 70px 0 25px;
  color: #2c2c2c;
}
/* line 14, ../sass/footer.scss */
.foote_link:hover {
  text-decoration: underline;
}
/* line 18, ../sass/footer.scss */
.foote .foote__2014 {
  margin: 0 0 0 218px;
}
