/* line 1, ../sass/main.scss */
.main {
  float: left;
  padding-left: 48px;
}
/* line 6, ../sass/main.scss */
.main_cycle {
  border: 1px solid #c8c8c8;
  margin-bottom: 35px;
}
/* line 10, ../sass/main.scss */
.main_lorem {
  margin: 0 0 63px 25px;
  width: 630px;
  line-height: 21px;
  font-size: 13px;
}
