	.sidebar{
		float: left;
		width: 238px;
		font-size: 0;
	
	&_item{
		border:1px solid #c8c8c8;
		margin-bottom: -1px;
		font-size: 13px;
		}
	&_link{
		display: block;
		line-height: 39px;
		padding-left:23px;
		color:#656363;
		&:hover{
			padding-left: 35px;
			color:#2c2c2c;
			background-color: #f9f9f9;
		}
	}
}